// input 공통 디자인
@mixin input-style ($h:30px) {
  border: 1px solid $color-rd;
  border-radius: 2px;
  color: $color-bk;
  font-size: 15px;
  font-weight: bold;
  height: $h;
  padding: 0 5px;
  &:hover, &:focus {
    border: 1px solid yellowgreen;
  }
}
