@import "./_variables.scss";
@import "../font/index.scss";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow: hidden;
  background-color: $color-main;
  .aimmed {
    background-color: #f1f1f1;
    font-family:
      "맑은고딕",
      "Malgun Gothic",
      "돋움",
      "Dotum",
      "Noto Sans KR",
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      'Roboto',
      'Oxygen',
      'Ubuntu',
      'Cantarell',
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: $fontsize16;
    height: 100%;
    width: 100%;
    position: fixed;

    &_nav {
      background-color: $color-main;
      width: '100%'; 
      position: 'fixed'; 
      top: 0;
    }

    &_btab {
      width: 100%; 
      position: fixed; 
      bottom: 0; 
      background-color: white ;
      border-top: 1px solid lightgray;
    }

    &_chat_textbox {
      width: 100%; 
      position: fixed; 
      bottom: 0; 
      background-color: rgb(155, 155, 155) ;
      border-top: 1px solid lightgray;
      z-index: 10;
    }

    userContainer {
      border-radius: 10;
      padding: 20;
      background-color: 'blue';
      max-width: '90%';
      color: 'white';
      margin: 5;
    }
    botContainer {
      border-radius: 10;
      padding: 20;
      background-color: '#00a7f7';
      color: 'white';
      max-width: '90%';
      margin: 5;
    }
  }
  
}
