.fade-enter {
  opacity: 0;
  transform: scale(1.1);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}
.fade-enter-done { opacity: 1; }
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.fade_in {
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;

  /* Firefox */

  /* Safari and Chrome */

  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein { /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein { /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade_out {
  -moz-animation: fadeout 3s;
  -webkit-animation: fadeout 3s;
  animation: fadeout 3s;

  /* Firefox */

  /* Safari and Chrome */
  -o-animation: fadeout 3s; /* Opera */
  animation-fill-mode: forwards;
  display: inline-block;
  padding: 10px;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeout { /* Firefox */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout { /* Safari and Chrome */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-o-keyframes fadeout { /* Opera */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
