// color
$color-main: #ddf1fb;
$color-lg : #fafafa;
$color-bk : #000;
$color-444 : #444;
$color-666 : #666;
$color-999 : #999;
$color-aaa : #aaa;
$color-ddd : #ddd;
$color-rd : #eb646d;
$color-gn : #27ae60;
$color-pe : #534f8f;
$color-nv : #2c334d;
$color-og : #ff9805;

$color-p1 : #f87668;
$color-p2 : #534f8f;
$color-p3 : #27ae60;
$color-p4 : #59bcf5;
$color-p5 : #a85dab;
$color-p6 : #2eb6d0;
$color-p7 : #4daf50;
$color-p8 : #d22e2e;
$color-p9 : #fd9725;
$color-bk8 : rgba(0, 0, 0, 0.08);
$color-bk10 : rgba(0, 0, 0, 0.1);
$color-bk20 : rgba(0, 0, 0, 0.2);
$color-bk40 : rgba(0, 0, 0, 0.4);
$color-bk60 : rgba(0, 0, 0, 0.6);
$color-bk80 : rgba(0, 0, 0, 0.8);
$color-bk100 : #000;
$color-gray : #c1c1c1;

// REM font size
$fontsize16: 16px;

// ETC
$height40 : 40px;

//mixin
@mixin input-hover {
  &:hover {
    border-color: $color-og;
  }
}

$white: #fff;
$orange: #f17215;
$orange-light: #fde0dc;
$orange-dark: #e04534;
$red: #e03636;
$red-dark: #c73030;
$green: #27ae60;
$green-dark: #28856c;
$blue: #4989d3;
$blue-dark: #3169a8;
$violet: #534f8f;
$violet-dark: #322e66;
$gray-light: rgba(0, 0, 0, 0.05);
$gray-8: rgba(0, 0, 0, 0.08);
$gray-10: rgba(0, 0, 0, 0.1);
$gray-20: rgba(0, 0, 0, 0.2);
$gray-40: rgba(0, 0, 0, 0.4);
$gray-60: rgba(0, 0, 0, 0.6);
$gray-70: rgba(0, 0, 0, 0.7);
$black: #000;

$transparent-black-09: rgba($color: #000, $alpha: 0.9);
$transparent-black-08: rgba($color: #000, $alpha: 0.8);
$transparent-black-07: rgba($color: #000, $alpha: 0.7);
$transparent-black-06: rgba($color: #000, $alpha: 0.6);
$transparent-black-05: rgba($color: #000, $alpha: 0.5);
$transparent-black-04: rgba($color: #000, $alpha: 0.4);
$transparent-black-03: rgba($color: #000, $alpha: 0.3);
$transparent-black-02: rgba($color: #000, $alpha: 0.2);
$transparent-black-01: rgba($color: #000, $alpha: 0.1);

$border-orange: 1px solid $orange;
$border-orange-dark: 1px solid $orange-dark;
$border-red: 1px solid $red;
$border-red-dark: 1px solid $red-dark;
$border-green: 1px solid $green;
$border-green-dark: 1px solid $green-dark;
$border-blue: 1px solid $blue;
$border-blue-dark: 1px solid $blue-dark;
$border-violet: 1px solid $violet;
$border-violet-dark: 1px solid $violet-dark;
$border-gray-10: 1px solid $gray-10;
$border-gray-20: 1px solid $gray-20;
$border-gray-40: 1px solid $gray-40;
$border-gray-60: 1px solid $gray-60;
$border-gray-70: 1px solid $gray-70;

$box-shadow-orange: 0 0 0 2px rgba(247, 98, 82, 0.2);

$welfare-main: #2269f5;			// 메인 파랑
$welfare-red: #fe1900;			// 경고
$welfare-orange: #ff8832;			// 학자금
$welfare-gray: #767676;			// 경조금
$welfare-blue: #5c9ad2;			// 의료비
$welfare-mint: #53bec1;			// 건강검진
$welfare-yellow: #ffe145;			// 주택대부
$welfare-green: #23bc4e;			// 휴양소
$welfare-purple: #9645e1;			// 캠프
$welfare-indigo: #194fb8;			// 버스
$welfare-pink: #ff3f9b;			// 선복비
$color : #1890ff;
